.form-popup {
  display: none;
  position: fixed;
  mask-type: alpha;
}
form , div {
  /* Center the form on the page */
 
  margin: 30px 0px 0px 0px;
  width: auto;
  /* Form line */
  padding: 1em;
  border: 1px solid rgb(18, 21, 187);
  border-radius: 1em;
  background-color: rgb(186, 207, 212);
  text-align: right;
}
div.flexcontainer{
  margin-top: 0px;
  display: inline-flex;
  background-color: initial;
  border: initial;
}
div.messages{
  margin: 3px 0px;
  margin-bottom: 0px;
  width: 300px;
  height: 80px;
  overflow: auto;
  border-radius: 0px;
  border: 1px solid black;
  background-color: azure;
  
}
div.messagesDivcontainer h2{
  margin-top: 0px;
  text-align: center;
  font-size: medium;
}
div.messagesDivcontainer{

 margin: 3px 200px;
 
  overflow: hidden;
}
div.remainscount{
  font-size: large;
  font-weight: 900;
  margin-top: 3px;
  height: 40px;
  border: 1px solid black;

}
.msgcontainer{
  background-color: azure;
  
}
.msgcontainer > li{
  margin-top: 7px;
  cursor: pointer;
  
}
body {
  
background-color: bisque;

margin: 0 auto;
}

header {
/* Center the form on the page */
margin: 0px 0px 15px 0px;
width: auto;
/* Form outline */
padding: 1em;
border: 1px solid rgb(18, 21, 187);
border-radius: 1em;
background-color: rgb(186, 207, 212);
font-family: Arial;
font-size: x-large;
font-weight:  900;
text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}



input{
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 200px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
  border-radius: 0.5em;
  
}
#tier{
  width: auto;
}

input:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}
input.check{
  width: auto;
}
input.num{
  width: 50;
}
button.warning{
background-color: red;
border-color: mediumblue;
}

.button {
  /* Align buttons with the text fields */
  padding-right: 200px; /* same size as the label elements */
  padding-top: 50px;
}
.grean{
  background-color: rgb(43, 145, 43);
}
.saveit{
  margin: 20px 200px auto;
  font-size: large;
}

button{
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
  border-radius: 0.5em;
  box-shadow: 2px 4px 4px black;
  cursor: pointer;
}
select {
  border-radius: 0.5em;
  width: 200px;
}
select:focus{
  border-color: #000;
}
fieldset {
  border-radius: 0.5em;
box-shadow:2px 4px 4px black;
}
small {
  color: crimson;
}
legend{
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}
table,
td {
  width: inherit;
    border: 1px solid rgb(18, 21, 187);
    border-bottom: 1px;
}

thead,
tfoot {
  width: inherit;
    background-color: rgb(87, 135, 233);
    color: black;
    border-bottom: 1px;
}
footer {
  margin: 30px 0px 7px;
  text-align: center;
  align-content: center;
  border: 1px solid rgb(18, 21, 187);
  border-radius: 1em;
  background-color: rgb(186, 207, 212);
  padding: 30px;
}
.strong {
  color: white;
  background-color: darkred;
}
li.warning{
  color: green;
  background-color: yellow;
}
.popup {
  display: none;
  position: fixed;
  margin-left: -142px;
  left: 50%;
  top: 10px;
  width: 300px;
  background-color: rgb(30, 230, 23);
  border:1px solid crimson;
  }
  .available{
    background-color: #999;
    border: 1px solid red;
  }
  .deleted{
    background-color: rgb(24, 24, 24);
    border: 2px solid black;
  }
 
 
  
  .expand{
      
      padding: 0px 68px 0px 0px;
  }
  div.drop{
    width: 100px;
    text-align: right;
    padding-right: 10px;
    margin: 10px 10px 10px;
    align-self: auto;
    background-color: azure;
  }

  .drop.warning,.explain>.warning{
    border: 2px solid yellow;
    background-color: darkslategray;
    color: bisque;
  }
  .drop:focus{
    box-shadow: 2px 3px 3px black;
    border: 2px solid black;
  }
  .remains{
    margin-top: 2px;
    width: 200px;
    white-space: nowrap;
    overflow: auto;
    height: 100px;
    /*text-align: right;*/
  }
  div.explain{
    padding: 0px 0px 0px;
    margin-left: 5px;
    width: 100px;
    border-style: none;
    background-color:  rgb(169, 199, 206);
  }
  .dragon{
    margin: 2px 2px 2px 2px;
    width: 70px;
    height: 20px;
    padding: 2px 2px;
    overflow: hidden;
    background-color: aliceblue;
    border: 3px solid rgb(12, 12, 29);
    cursor: grab;
    
  }
  .dragon:focus{
    border: 5px solid gray !important;
    box-shadow: 2px 4px 5px black;
  }
  .dragon.shift0{
    background-color: rgb(83, 231, 83);
    color: black;
  }
  .dragon.shift1{
    background-color: darkgreen;
    color: rgb(235, 170, 170);
  }
  .dragon.shift2{
    background-color: rgb(83, 196, 231);
    color: black;
  }
  .dragon.shift3{
    background-color: rgb(20, 94, 204);
    color: black;
  }
 
  .dragon.shift4{
    background-color: rgb(0, 0, 87);
    color:red;
  }
  .dragon.shift5{
  
    background-color: yellow;
    color: purple;
  }
  .dragon.shift6{
    background-color: rgb(255, 136, 0);
    color: blue;
  }
  .dragon.shift7{
    background-color: rgb(226, 10, 21);
    
  }
  .dragon.warning{
    
    border: 2px solid yellow;
    box-shadow:3px 3px yellow ;
    
    background-color: darkgrey;
    color: black !important;
    animation: blinking 1s linear 0s infinite ;
  }
  .dragon.danger{
  
    border: 2px solid red;
    box-shadow: 3px 3px red;
    background-color: darkgrey;
    color: black !important;
    animation: blinking 1s linear 0s infinite ;
  }
 
  .info{
    
    width: 400px;
    height: 400px;
    overflow: auto;
  }
  .info h1{
    text-align: center;
    margin-bottom: 4px;
    padding-bottom: 4px;
    
  }
  .hoscontain{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    
    height: 400px;
    width: 800px;
    overflow: scroll;
  }
  .hoscontain.magnified{
    /*
    position: absolute;
    top: 0px;
    left: 0px;*/
    width: 96%;
    height: 90%;
  }
  button.magnify{
    display: block;
    background-color: rgba(19, 19, 19, 0.521);
    opacity: 0.5;
    margin: 0px 0px 0px 0px;
    border: 0 0 0 0;
   position: absolute;
   top: 512px;
   right: 20px;
    
  }
  .visable{
   display: none;
  }/*
  button.magnify.magnified{
    top: 20px;
    z-index: 1;
  }*/
  button.magnify:hover{
    opacity: 1;
    
  }
  .magnify .tooltiptext {
    visibility: hidden;
    width: 90px;
    opacity: 0.8;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
  
    position: absolute;
    z-index: 1;
  }

  .magnify:hover .tooltiptext {
    visibility: visible;
  }
  p.regname{
    margin: 0px 3px 0px;
    font-size: 10;
    padding: 0px 0px 0px 0px;
    display: inline;
    white-space: nowrap;
    color: inherit;
  }
  @keyframes blinking{
    0%{opacity: 1; box-shadow: 15px;}
    50%{opacity: 0.8;}
    100%{opacity: 0.5;}
}
.placeholder{
  margin: 2px 2px 2px 2px;
    width: 70px;
    height: 20px;
    padding: 2px 2px;
    border-radius: 0px;
    background-color: #555;
    box-shadow: 0 0 5px 10px #555;
    border: none;
    opacity: 0.7;
    border-radius: 1em;
}
